<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Software</title>
</head>
<body>
    <style>
        body{
            background-color: #8ccbbe;
        }
    </style>
    <center>
        <img src="static/images/cs.png" alt="CS_IMAGE" display= block margin-left= auto margin-right= auto>
        <h2>CS2902 - Ingeniería de Software II</h2>
        <h2>Anthony Guimarey Saavedra</h2>
        <h2>201810170</h2>
        <h2><a href="/static/html/search.html">Aplicacion</a></h2>
    </center>
</body>
</html>